<!DOCTYPE html>
<html>
<head>
  <title>SouthBendBusWidget</title>
  <%= google_webfonts_link_tag :open_sans   => [400, 700],
  						     :gravitas_one   => [400],
                             :merriweather  => [300, 400] %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  
</head>
<body>

<%= yield %>

</body>
</html>
